figure {
    margin: 0;
}

a:link {
    text-decoration: none;
    color: inherit;
}

a:visited {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: white;
    background-color: white;
}

a:active {
    text-decoration: none;
    color: inherit;
}

.container {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;

    margin: 3% 7% auto;
}

.title {
    font-size: 36px;
}

.main_image {
    max-width: 100%;
}

@media (min-width: 600px) {
    .main_image {
        max-width: 60%;
    }
}

@media (min-width: 1000px) {
    .main_image {
        max-width: 40%;
    }
}

@media (min-width: 1600px) {
    .main_image {
        max-width: 30%;
    }
}

.bottom {
    margin-top: 16pt;
}

.underline {
    font-size: 14px;
}
